<h1>Angular Router Sample</h1>

<!-- version 1.0 
  <app-crisis-list></app-crisis-list>
  <app-hero-list></app-hero-list>
-->

<!-- version 2.0 
  <router-outlet></router-outlet> 
-->

<!-- version 3.0 
<nav>
  <a class="button" routerLink="/crisis-list">Crisis Center</a> |
  <a class="button" routerLink="/hero-list">Heroes</a>
</nav>
<router-outlet></router-outlet> 
-->

<nav>
  <!-- 通过添加 routerLinkActive 指令，可以通知你的应用把一个特定的 CSS 类应用到当前的活动路由中 -->
  <a class="button" routerLink="/crisis-list" routerLinkActive="activebutton">Crisis Center</a> |
  <a class="button" routerLink="/hero-list" routerLinkActive="activebutton">Heroes</a>
</nav>
<router-outlet></router-outlet> 